<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BetaTestSuite" verbose="1" parallel="methods" thread-count="5">

  <!--***** Set Parameters to be passed to methods *****-->
  <parameter name="baseUrl" value="TBD/"/>

  <!--***** Define test Configuration below  *****-->
  <test name="service-local-at">
    <!--***** Define Test Groups - this is not a requirement only if you are using groups *****-->
    <groups>
      <!--* Set what groups to run or exclude *-->
      <run>
        <include name="acceptance"/>
      </run>
    </groups>
    <!--***** Set what Java class you want to include in your test code  *****-->
    <classes>
      <class name="org.eggleston.bd.AcceptanceFactory"/>
    </classes>
  </test>
</suite>
